SELECT DISTINCT 
  ASSOCIATION_INTEGRATION_1.NUMERO_SERIE,
  ASSOCIATION_INTEGRATION_1.SFC_BOITIER_MONTE
FROM
  ASSOCIATION_INTEGRATION_1
  INNER JOIN FAIL_INTEGRATION_1 ON (ASSOCIATION_INTEGRATION_1.SFC_BOITIER_MONTE = FAIL_INTEGRATION_1.SFC_BOITIER_MONTE)
